# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# Data & models (DVC)
data/raw/*
data/processed/*
models/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!models/.gitkeep
!models/*.dvc
!data/*.dvc
!models/model.pkl

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Env
.env

# Coverage
.coverage
.coverage.*
htmlcov/

# Environment
.env
.env.local
*.env
!.env.example